!!!
%html
  %head
    %title= i18n.classify.title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.3.2.min.js"}
    %script{:type => 'text/javascript', :src => "http://cdn.jquerytools.org/1.0.2/jquery.tools.min.js"}
    %script{:type => 'text/javascript', :src => "/js/jquery-ui-1.7.2.custom.min.js"}
    %script{:type => 'text/javascript', :src => "/js/json2.js"}
    %script{:type => 'text/javascript', :src => "/js/mathtex.js"}
    %script{:type => 'text/javascript', :src => "/js/canvassify.js"}
    %script{:type => 'text/javascript', :src => "/js/classify.js"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
  %body#classify
    #everything
      %h1= i18n.classify.header
      %ul#nav
        %li
          %a{ :href => "/#{i18n.locale['code']}/train" }= i18n.nav.train
        %li
          %a{ :href => "/#{i18n.locale['code']}/symbols" }= i18n.nav.symbols
          
      %ul#lang
        - i18n.translations.each_pair do |locale, title|
          %li
            %a{ :href => "/#{locale}/classify" }= title
      
      #canvasarea
        %canvas#tafel{:width=>"400", :height=>"400"}
          = i18n.canvas.nocanvas
        %a#clear{:href => '#'}= i18n.clear
        #canvaserror= i18n.canvas.error
        %span#spinner
          %img{:alt => i18n.canvas.spinner, :src => '/images/spinner.gif' }        
      
      #hitarea
        #hittip
          %a{:href => '#'}= i18n.classify.hittip 
        %table.symbols
          %thead
            %tr
              %th= i18n.command
              %th= i18n.symbol
              %th= i18n.score
          %tbody#hitlist
        %a#chooselink{:href => '#', :rel => '#choose'}= i18n.classify.choose
      
      #choose.overlay
        %h1 Foo
        %table.symbols
          %thead
            %tr
              %th= i18n.command
              %th= i18n.symbol
              %th= i18n.patterns
          %tbody#symbollist
      
      #info
        :markdown
          #{i18n.classify.info}
    / google analytics
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-8668142-2");
      pageTracker._trackPageview();
      } catch(err) {}
          
