!!!
%html
  %head
    %title= i18n.classify.title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %script{:type => 'text/javascript', :src => "/js/jquery-1.3.2.min.js"}
    %script{:type => 'text/javascript', :src => "/js/json2.js"}
    %script{:type => 'text/javascript', :src => "/js/mathtex.js"}
    %script{:type => 'text/javascript', :src => "/js/canvassify.js"}
    %script{:type => 'text/javascript', :src => "/js/classify.js"}
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/style.css"}
  %body#classify
    #everything
      %h1= i18n.classify.header
      :markdown
        #{i18n.classify.subheader}
      %ul
      - i18n.translations.each_pair do |locale, title|
        %li
          %a{ :href => "/#{locale}/classify" }= title
      
      #canvasarea
        %canvas#tafel{:width=>"400", :height=>"400"}
          = i18n.canvas.nocanvas
        %a#clear{:href => '#'}= i18n.clear
        #canvaserror= i18n.canvas.error
        %span#spinner
          /%img{:alt => 'Ajax spinner', :href => 'spinner.gif' }
          = i18n.canvas.spinner
      
      #hitarea
        %table.symbols
          %thead
            %tr
              %th= i18n.command
              %th= i18n.symbol
              %th= i18n.score
          %tbody#hitlist
      #info
        :markdown
          #{i18n.classify.info}
    / google analytics
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-8668142-2");
      pageTracker._trackPageview();
      } catch(err) {}
          
